<!DOCTYPE html>
<html lang="id">
<head>
    <%- include('../partials/head') %>
</head>
<body class="d-flex flex-column min-vh-100">
    <%- include('../partials/navbar') %>
    
    <main class="main-content no-sidebar flex-grow-1">
        <div class="container py-4">
            <%- body %>
        </div>
    </main>
    
    <%- include('../partials/footer') %>
    <%- include('../partials/scripts') %>
</body>
</html>
